API/Amazon/AmazonSOAP/Service References/Amazon.PAAPI/AWSECommerceService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservices.amazon.com/AWSECommerceService/2011-08-01" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://webservices.amazon.com/AWSECommerceService/2011-08-01" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://webservices.amazon.com/AWSECommerceService/2011-08-01">
      <xs:element name="Bin">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="BinName" type="xs:string" />
            <xs:element name="BinItemCount" type="xs:positiveInteger" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="BinParameter">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Name" type="xs:string" />
                  <xs:element name="Value" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SearchBinSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Bin" />
          </xs:sequence>
          <xs:attribute name="NarrowBy" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
      <xs:element name="SearchBinSets">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:SearchBinSet" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemSearch">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:ItemSearchRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:ItemSearchRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ItemSearchRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="Actor" type="xs:string" />
          <xs:element minOccurs="0" name="Artist" type="xs:string" />
          <xs:element minOccurs="0" name="Availability">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Available" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:AudienceRating" />
          <xs:element minOccurs="0" name="Author" type="xs:string" />
          <xs:element minOccurs="0" name="Brand" type="xs:string" />
          <xs:element minOccurs="0" name="BrowseNode" type="xs:string" />
          <xs:element minOccurs="0" name="Composer" type="xs:string" />
          <xs:element minOccurs="0" ref="tns:Condition" />
          <xs:element minOccurs="0" name="Conductor" type="xs:string" />
          <xs:element minOccurs="0" name="Director" type="xs:string" />
          <xs:element minOccurs="0" name="ItemPage" type="xs:positiveInteger" />
          <xs:element minOccurs="0" name="Keywords" type="xs:string" />
          <xs:element minOccurs="0" name="Manufacturer" type="xs:string" />
          <xs:element minOccurs="0" name="MaximumPrice" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" name="MerchantId" type="xs:string" />
          <xs:element minOccurs="0" name="MinimumPrice" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" name="MinPercentageOff" type="xs:nonNegativeInteger" />
          <xs:element minOccurs="0" name="MusicLabel" type="xs:string" />
          <xs:element minOccurs="0" name="Orchestra" type="xs:string" />
          <xs:element minOccurs="0" name="Power" type="xs:string" />
          <xs:element minOccurs="0" name="Publisher" type="xs:string" />
          <xs:element minOccurs="0" name="RelatedItemPage" type="tns:positiveIntegerOrAll" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationshipType" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
          <xs:element minOccurs="0" name="SearchIndex" type="xs:string" />
          <xs:element minOccurs="0" name="Sort" type="xs:string" />
          <xs:element minOccurs="0" name="Title" type="xs:string" />
          <xs:element minOccurs="0" name="ReleaseDate" type="xs:string" />
          <xs:element minOccurs="0" name="IncludeReviewsSummary" type="xs:string" />
          <xs:element minOccurs="0" name="TruncateReviewsAt" type="xs:nonNegativeInteger" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ItemLookup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:ItemLookupRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:ItemLookupRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="ItemLookupRequest">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:Condition" />
          <xs:element minOccurs="0" name="IdType">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="ASIN" />
                <xs:enumeration value="UPC" />
                <xs:enumeration value="SKU" />
                <xs:enumeration value="EAN" />
                <xs:enumeration value="ISBN" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element minOccurs="0" name="MerchantId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
          <xs:element minOccurs="0" name="SearchIndex" type="xs:string" />
          <xs:element minOccurs="0" name="VariationPage" type="tns:positiveIntegerOrAll" />
          <xs:element minOccurs="0" name="RelatedItemPage" type="tns:positiveIntegerOrAll" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="RelationshipType" type="xs:string" />
          <xs:element minOccurs="0" name="IncludeReviewsSummary" type="xs:string" />
          <xs:element minOccurs="0" name="TruncateReviewsAt" type="xs:nonNegativeInteger" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="SimilarityLookup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:SimilarityLookupRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:SimilarityLookupRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="SimilarityLookupRequest">
        <xs:sequence>
          <xs:element minOccurs="0" ref="tns:Condition" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ItemId" type="xs:string" />
          <xs:element minOccurs="0" name="MerchantId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
          <xs:element minOccurs="0" name="SimilarityType">
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="Intersection" />
                <xs:enumeration value="Random" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CartGet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:CartGetRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:CartGetRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="CartGetRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CartId" type="xs:string" />
          <xs:element minOccurs="0" name="HMAC" type="xs:string" />
          <xs:element minOccurs="0" name="MergeCart" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CartAdd">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:CartAddRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:CartAddRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="CartAddRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CartId" type="xs:string" />
          <xs:element minOccurs="0" name="HMAC" type="xs:string" />
          <xs:element minOccurs="0" name="MergeCart" type="xs:string" />
          <xs:element minOccurs="0" name="Items">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Item">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                      <xs:element minOccurs="0" name="OfferListingId" type="xs:string" />
                      <xs:element minOccurs="0" name="Quantity" type="xs:positiveInteger" />
                      <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
                      <xs:element minOccurs="0" name="ListItemId" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CartCreate">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:CartCreateRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:CartCreateRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="CartCreateRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="MergeCart" type="xs:string" />
          <xs:element minOccurs="0" name="Items">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Item">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                      <xs:element minOccurs="0" name="OfferListingId" type="xs:string" />
                      <xs:element minOccurs="0" name="Quantity" type="xs:positiveInteger" />
                      <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
                      <xs:element minOccurs="0" name="ListItemId" type="xs:string" />
                      <xs:element minOccurs="0" maxOccurs="unbounded" name="MetaData">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element minOccurs="0" name="Key" type="xs:string" />
                            <xs:element minOccurs="0" name="Value" type="xs:string" />
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CartModify">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:CartModifyRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:CartModifyRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="CartModifyRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CartId" type="xs:string" />
          <xs:element minOccurs="0" name="HMAC" type="xs:string" />
          <xs:element minOccurs="0" name="MergeCart" type="xs:string" />
          <xs:element minOccurs="0" name="Items">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="Item">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element minOccurs="0" name="Action">
                        <xs:simpleType>
                          <xs:restriction base="xs:string">
                            <xs:enumeration value="MoveToCart" />
                            <xs:enumeration value="SaveForLater" />
                          </xs:restriction>
                        </xs:simpleType>
                      </xs:element>
                      <xs:element minOccurs="0" name="CartItemId" type="xs:string" />
                      <xs:element minOccurs="0" name="Quantity" type="xs:nonNegativeInteger" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CartClear">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:CartClearRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:CartClearRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="CartClearRequest">
        <xs:sequence>
          <xs:element minOccurs="0" name="CartId" type="xs:string" />
          <xs:element minOccurs="0" name="HMAC" type="xs:string" />
          <xs:element minOccurs="0" name="MergeCart" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="BrowseNodeLookup">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="MarketplaceDomain" type="xs:string" />
            <xs:element minOccurs="0" name="AWSAccessKeyId" type="xs:string" />
            <xs:element minOccurs="0" name="AssociateTag" type="xs:string" />
            <xs:element minOccurs="0" name="Validate" type="xs:string" />
            <xs:element minOccurs="0" name="XMLEscaping" type="xs:string" />
            <xs:element minOccurs="0" name="Shared" type="tns:BrowseNodeLookupRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Request" type="tns:BrowseNodeLookupRequest" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="BrowseNodeLookupRequest">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="BrowseNodeId" type="xs:string" />
          <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseGroup" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Condition">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="All" />
            <xs:enumeration value="New" />
            <xs:enumeration value="Used" />
            <xs:enumeration value="Collectible" />
            <xs:enumeration value="Refurbished" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="AudienceRating">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="G" />
            <xs:enumeration value="PG" />
            <xs:enumeration value="PG-13" />
            <xs:enumeration value="R" />
            <xs:enumeration value="NC-17" />
            <xs:enumeration value="NR" />
            <xs:enumeration value="Unrated" />
            <xs:enumeration value="6" />
            <xs:enumeration value="12" />
            <xs:enumeration value="16" />
            <xs:enumeration value="18" />
            <xs:enumeration value="FamilyViewing" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ItemSearchResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Items" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemLookupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Items" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SimilarityLookupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Items" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CartGetResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Cart" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CartAddResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Cart" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CartCreateResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Cart" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CartModifyResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Cart" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CartClearResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Cart" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BrowseNodeLookupResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:OperationRequest" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:BrowseNodes" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OperationRequest">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:HTTPHeaders" />
            <xs:element minOccurs="0" name="RequestId" type="xs:string" />
            <xs:element minOccurs="0" ref="tns:Arguments" />
            <xs:element minOccurs="0" ref="tns:Errors" />
            <xs:element minOccurs="0" maxOccurs="1" name="RequestProcessingTime" type="xs:float" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Request">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IsValid" type="xs:string" />
            <xs:element minOccurs="0" name="BrowseNodeLookupRequest" type="tns:BrowseNodeLookupRequest" />
            <xs:element minOccurs="0" name="ItemSearchRequest" type="tns:ItemSearchRequest" />
            <xs:element minOccurs="0" name="ItemLookupRequest" type="tns:ItemLookupRequest" />
            <xs:element minOccurs="0" name="SimilarityLookupRequest" type="tns:SimilarityLookupRequest" />
            <xs:element minOccurs="0" name="CartGetRequest" type="tns:CartGetRequest" />
            <xs:element minOccurs="0" name="CartAddRequest" type="tns:CartAddRequest" />
            <xs:element minOccurs="0" name="CartCreateRequest" type="tns:CartCreateRequest" />
            <xs:element minOccurs="0" name="CartModifyRequest" type="tns:CartModifyRequest" />
            <xs:element minOccurs="0" name="CartClearRequest" type="tns:CartClearRequest" />
            <xs:element minOccurs="0" ref="tns:Errors" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Arguments">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Argument">
              <xs:complexType>
                <xs:attribute name="Name" type="xs:string" use="required" />
                <xs:attribute name="Value" type="xs:string" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="HTTPHeaders">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Header">
              <xs:complexType>
                <xs:attribute name="Name" type="xs:string" use="required" />
                <xs:attribute name="Value" type="xs:string" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Errors">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Error">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Code" type="xs:string" />
                  <xs:element name="Message" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Items">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:Request" />
            <xs:element minOccurs="0" ref="tns:CorrectedQuery" />
            <xs:element minOccurs="0" name="Qid" type="xs:string" />
            <xs:element minOccurs="0" name="EngineQuery" type="xs:string" />
            <xs:element minOccurs="0" name="TotalResults" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="TotalPages" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="MoreSearchResultsUrl" type="xs:string" />
            <xs:element minOccurs="0" ref="tns:SearchResultsMap" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Item" />
            <xs:element minOccurs="0" ref="tns:SearchBinSets" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CorrectedQuery">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Keywords" type="xs:string" />
            <xs:element minOccurs="0" name="Message" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Cart">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:Request" />
            <xs:element name="CartId" type="xs:string" />
            <xs:element name="HMAC" type="xs:string" />
            <xs:element name="URLEncodedHMAC" type="xs:string" />
            <xs:element minOccurs="0" name="PurchaseURL" type="xs:string" />
            <xs:element minOccurs="0" name="MobileCartURL" type="xs:string" />
            <xs:element minOccurs="0" name="SubTotal" type="tns:Price" />
            <xs:element minOccurs="0" ref="tns:CartItems" />
            <xs:element minOccurs="0" ref="tns:SavedForLaterItems" />
            <xs:element minOccurs="0" ref="tns:SimilarProducts" />
            <xs:element minOccurs="0" ref="tns:TopSellers" />
            <xs:element minOccurs="0" ref="tns:NewReleases" />
            <xs:element minOccurs="0" ref="tns:SimilarViewedProducts" />
            <xs:element minOccurs="0" ref="tns:OtherCategoriesSimilarProducts" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SearchResultsMap">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="SearchIndex">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="IndexName" type="xs:string" />
                  <xs:element minOccurs="0" name="Results" type="xs:nonNegativeInteger" />
                  <xs:element minOccurs="0" name="Pages" type="xs:nonNegativeInteger" />
                  <xs:element minOccurs="0" ref="tns:CorrectedQuery" />
                  <xs:element name="RelevanceRank" type="xs:positiveInteger" />
                  <xs:element maxOccurs="unbounded" name="ASIN" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Item">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ASIN" type="xs:string" />
            <xs:element minOccurs="0" name="ParentASIN" type="xs:string" />
            <xs:element minOccurs="0" ref="tns:Errors" />
            <xs:element minOccurs="0" name="DetailPageURL" type="xs:string" />
            <xs:element minOccurs="0" ref="tns:ItemLinks" />
            <xs:element minOccurs="0" name="SalesRank" type="xs:string" />
            <xs:element minOccurs="0" name="SmallImage" type="tns:Image" />
            <xs:element minOccurs="0" name="MediumImage" type="tns:Image" />
            <xs:element minOccurs="0" name="LargeImage" type="tns:Image" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="ImageSets">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:ImageSet" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="tns:ItemAttributes" />
            <xs:element minOccurs="0" maxOccurs="1" name="VariationAttributes">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:VariationAttribute" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:RelatedItems" />
            <xs:element minOccurs="0" ref="tns:Collections" />
            <xs:element minOccurs="0" maxOccurs="1" name="Subjects">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Subject" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="tns:OfferSummary" />
            <xs:element minOccurs="0" ref="tns:Offers" />
            <xs:element minOccurs="0" ref="tns:VariationSummary" />
            <xs:element minOccurs="0" ref="tns:Variations" />
            <xs:element minOccurs="0" ref="tns:CustomerReviews" />
            <xs:element minOccurs="0" ref="tns:EditorialReviews" />
            <xs:element minOccurs="0" ref="tns:SimilarProducts" />
            <xs:element minOccurs="0" ref="tns:Accessories" />
            <xs:element minOccurs="0" ref="tns:Tracks" />
            <xs:element minOccurs="0" ref="tns:BrowseNodes" />
            <xs:element minOccurs="0" maxOccurs="1" name="AlternateVersions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="AlternateVersion">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="ASIN" type="xs:string" />
                        <xs:element minOccurs="0" name="Title" type="xs:string" />
                        <xs:element minOccurs="0" name="Binding" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemLinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:ItemLink" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="ItemLink">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Description" type="xs:string" />
            <xs:element minOccurs="0" name="URL" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RelatedItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" name="Relationship">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Parents" />
                  <xs:enumeration value="Children" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="1" name="RelationshipType" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="RelatedItemCount" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" maxOccurs="1" name="RelatedItemPageCount" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" maxOccurs="1" name="RelatedItemPage" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:RelatedItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="RelatedItem">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="1" ref="tns:Item" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OfferSummary">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="LowestNewPrice" type="tns:Price" />
            <xs:element minOccurs="0" name="LowestUsedPrice" type="tns:Price" />
            <xs:element minOccurs="0" name="LowestCollectiblePrice" type="tns:Price" />
            <xs:element minOccurs="0" name="LowestRefurbishedPrice" type="tns:Price" />
            <xs:element minOccurs="0" name="TotalNew" type="xs:string" />
            <xs:element minOccurs="0" name="TotalUsed" type="xs:string" />
            <xs:element minOccurs="0" name="TotalCollectible" type="xs:string" />
            <xs:element minOccurs="0" name="TotalRefurbished" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Offers">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="TotalOffers" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="TotalOfferPages" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="MoreOffersUrl" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Offer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Offer">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:Merchant" />
            <xs:element minOccurs="0" ref="tns:OfferAttributes" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:OfferListing" />
            <xs:element minOccurs="0" ref="tns:LoyaltyPoints" />
            <xs:element minOccurs="0" ref="tns:Promotions" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OfferAttributes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Condition" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Merchant">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Name" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OfferListing">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="OfferListingId" type="xs:string" />
            <xs:element minOccurs="0" name="Price" type="tns:Price" />
            <xs:element minOccurs="0" name="SalePrice" type="tns:Price" />
            <xs:element minOccurs="0" name="AmountSaved" type="tns:Price" />
            <xs:element minOccurs="0" name="PercentageSaved" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="Availability" type="xs:string" />
            <xs:element minOccurs="0" name="AvailabilityAttributes">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="AvailabilityType" type="xs:string" />
                  <xs:element minOccurs="0" name="IsPreorder" type="xs:boolean" />
                  <xs:element minOccurs="0" name="MinimumHours" type="xs:integer" />
                  <xs:element minOccurs="0" name="MaximumHours" type="xs:integer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="IsEligibleForSuperSaverShipping" type="xs:boolean" />
            <xs:element minOccurs="0" name="IsEligibleForPrime" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="LoyaltyPoints">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Points" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="TypicalRedemptionValue" type="tns:Price" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariationAttribute">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Name" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="Value" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariationSummary">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="LowestPrice" type="tns:Price" />
            <xs:element minOccurs="0" name="HighestPrice" type="tns:Price" />
            <xs:element minOccurs="0" name="LowestSalePrice" type="tns:Price" />
            <xs:element minOccurs="0" name="HighestSalePrice" type="tns:Price" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Variations">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="TotalVariations" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="TotalVariationPages" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" ref="tns:VariationDimensions" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Item" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="VariationDimensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="VariationDimension" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditorialReviews">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:EditorialReview" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Collections">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Collection">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="1" name="CollectionSummary">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="LowestListPrice" type="tns:Price" />
                        <xs:element minOccurs="0" maxOccurs="1" name="HighestListPrice" type="tns:Price" />
                        <xs:element minOccurs="0" maxOccurs="1" name="LowestSalePrice" type="tns:Price" />
                        <xs:element minOccurs="0" maxOccurs="1" name="HighestSalePrice" type="tns:Price" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="CollectionParent">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ASIN" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="CollectionItem">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element minOccurs="0" maxOccurs="1" name="ASIN" type="xs:string" />
                        <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="EditorialReview">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Source" type="xs:string" />
            <xs:element minOccurs="0" name="Content" type="xs:string" />
            <xs:element minOccurs="0" name="IsLinkSuppressed" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CustomerReviews">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="IFrameURL" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="HasReviews" type="xs:boolean" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Tracks">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Disc">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" name="Track">
                    <xs:complexType>
                      <xs:simpleContent>
                        <xs:extension base="xs:string">
                          <xs:attribute name="Number" type="xs:positiveInteger" use="required" />
                        </xs:extension>
                      </xs:simpleContent>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
                <xs:attribute name="Number" type="xs:positiveInteger" use="required" />
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SimilarProducts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="SimilarProduct">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                  <xs:element minOccurs="0" name="Title" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TopSellers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="TopSeller">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                  <xs:element minOccurs="0" name="Title" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NewReleases">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="NewRelease">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                  <xs:element minOccurs="0" name="Title" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="TopItemSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Type" type="xs:string" />
            <xs:element maxOccurs="unbounded" name="TopItem">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                  <xs:element minOccurs="0" name="Title" type="xs:string" />
                  <xs:element minOccurs="0" name="DetailPageURL" type="xs:string" />
                  <xs:element minOccurs="0" name="ProductGroup" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Artist" type="xs:string" />
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Actor" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SimilarViewedProducts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="SimilarViewedProduct">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                  <xs:element minOccurs="0" name="Title" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="OtherCategoriesSimilarProducts">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="OtherCategoriesSimilarProduct">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                  <xs:element minOccurs="0" name="Title" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Accessories">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" name="Accessory">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="ASIN" type="xs:string" />
                  <xs:element minOccurs="0" name="Title" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Promotions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:Promotion" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Promotion">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Summary">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="PromotionId" type="xs:string" />
                  <xs:element minOccurs="0" name="Category" type="xs:string" />
                  <xs:element minOccurs="0" name="StartDate" type="xs:string" />
                  <xs:element minOccurs="0" name="EndDate" type="xs:string" />
                  <xs:element minOccurs="0" name="EligibilityRequirementDescription" type="xs:string" />
                  <xs:element minOccurs="0" name="BenefitDescription" type="xs:string" />
                  <xs:element minOccurs="0" name="TermsAndConditions" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BrowseNodes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" ref="tns:Request" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:BrowseNode" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Property">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="Name" type="xs:string" />
            <xs:element minOccurs="0" name="Value" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="BrowseNode">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="BrowseNodeId" type="xs:string" />
            <xs:element minOccurs="0" name="Name" type="xs:string" />
            <xs:element minOccurs="0" name="IsCategoryRoot" type="xs:boolean" />
            <xs:element minOccurs="0" name="Properties">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" ref="tns:Property" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Children">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" ref="tns:BrowseNode" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Ancestors">
              <xs:complexType>
                <xs:sequence>
                  <xs:element maxOccurs="unbounded" ref="tns:BrowseNode" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" ref="tns:TopSellers" />
            <xs:element minOccurs="0" ref="tns:NewReleases" />
            <xs:element minOccurs="0" maxOccurs="unbounded" ref="tns:TopItemSet" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="CartItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SubTotal" type="tns:Price" />
            <xs:element maxOccurs="unbounded" name="CartItem" type="tns:CartItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SavedForLaterItems">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SubTotal" type="tns:Price" />
            <xs:element maxOccurs="unbounded" name="SavedForLaterItem" type="tns:CartItem" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="CartItem">
        <xs:sequence>
          <xs:element name="CartItemId" type="xs:string" />
          <xs:element minOccurs="0" name="ASIN" type="xs:string" />
          <xs:element minOccurs="0" name="SellerNickname" type="xs:string" />
          <xs:element name="Quantity" type="xs:string" />
          <xs:element minOccurs="0" name="Title" type="xs:string" />
          <xs:element minOccurs="0" name="ProductGroup" type="xs:string" />
          <xs:element minOccurs="0" name="MetaData">
            <xs:complexType>
              <xs:sequence>
                <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePair">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Key" type="xs:string" />
                      <xs:element name="Value" type="xs:string" />
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element minOccurs="0" name="Price" type="tns:Price" />
          <xs:element minOccurs="0" name="ItemTotal" type="tns:Price" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Price">
        <xs:sequence>
          <xs:element minOccurs="0" name="Amount" type="xs:integer" />
          <xs:element minOccurs="0" name="CurrencyCode" type="xs:string" />
          <xs:element name="FormattedPrice" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ImageSet">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="SwatchImage" type="tns:Image" />
            <xs:element minOccurs="0" name="SmallImage" type="tns:Image" />
            <xs:element minOccurs="0" name="ThumbnailImage" type="tns:Image" />
            <xs:element minOccurs="0" name="TinyImage" type="tns:Image" />
            <xs:element minOccurs="0" name="MediumImage" type="tns:Image" />
            <xs:element minOccurs="0" name="LargeImage" type="tns:Image" />
          </xs:sequence>
          <xs:attribute name="Category" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:complexType name="Image">
        <xs:sequence>
          <xs:element name="URL" type="xs:string" />
          <xs:element name="Height" type="tns:DecimalWithUnits" />
          <xs:element name="Width" type="tns:DecimalWithUnits" />
          <xs:element minOccurs="0" name="IsVerified" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ItemAttributes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Actor" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Artist" type="xs:string" />
            <xs:element minOccurs="0" name="AspectRatio" type="xs:string" />
            <xs:element minOccurs="0" name="AudienceRating" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="AudioFormat" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Author" type="xs:string" />
            <xs:element minOccurs="0" name="Binding" type="xs:string" />
            <xs:element minOccurs="0" name="Brand" type="xs:string" />
            <xs:element minOccurs="0" name="CatalogNumberList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="CatalogNumberListElement" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Category" type="xs:string" />
            <xs:element minOccurs="0" name="CEROAgeRating" type="xs:string" />
            <xs:element minOccurs="0" name="ClothingSize" type="xs:string" />
            <xs:element minOccurs="0" name="Color" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Creator">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="Role" type="xs:string" use="required" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Department" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Director" type="xs:string" />
            <xs:element minOccurs="0" name="EAN" type="xs:string" />
            <xs:element minOccurs="0" name="EANList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="EANListElement" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Edition" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="EISBN" type="xs:string" />
            <xs:element minOccurs="0" name="EpisodeSequence" type="xs:string" />
            <xs:element minOccurs="0" name="ESRBAgeRating" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Feature" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Format" type="xs:string" />
            <xs:element minOccurs="0" name="Genre" type="xs:string" />
            <xs:element minOccurs="0" name="HardwarePlatform" type="xs:string" />
            <xs:element minOccurs="0" name="HazardousMaterialType" type="xs:string" />
            <xs:element minOccurs="0" name="IsAdultProduct" type="xs:boolean" />
            <xs:element minOccurs="0" name="IsAutographed" type="xs:boolean" />
            <xs:element minOccurs="0" name="ISBN" type="xs:string" />
            <xs:element minOccurs="0" name="IsEligibleForTradeIn" type="xs:boolean" />
            <xs:element minOccurs="0" name="IsMemorabilia" type="xs:boolean" />
            <xs:element minOccurs="0" name="IssuesPerYear" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="ItemDimensions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Height" type="tns:DecimalWithUnits" />
                  <xs:element minOccurs="0" name="Length" type="tns:DecimalWithUnits" />
                  <xs:element minOccurs="0" name="Weight" type="tns:DecimalWithUnits" />
                  <xs:element minOccurs="0" name="Width" type="tns:DecimalWithUnits" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="ItemPartNumber" type="xs:string" />
            <xs:element minOccurs="0" name="Label" type="xs:string" />
            <xs:element minOccurs="0" name="Languages">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="Language">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="Name" type="xs:string" />
                        <xs:element minOccurs="0" name="Type" type="xs:string" />
                        <xs:element minOccurs="0" name="AudioFormat" type="xs:string" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="LegalDisclaimer" type="xs:string" />
            <xs:element minOccurs="0" name="ListPrice" type="tns:Price" />
            <xs:element minOccurs="0" name="MagazineType" type="xs:string" />
            <xs:element minOccurs="0" name="Manufacturer" type="xs:string" />
            <xs:element minOccurs="0" name="ManufacturerMaximumAge" type="tns:DecimalWithUnits" />
            <xs:element minOccurs="0" name="ManufacturerMinimumAge" type="tns:DecimalWithUnits" />
            <xs:element minOccurs="0" name="ManufacturerPartsWarrantyDescription" type="xs:string" />
            <xs:element minOccurs="0" name="MediaType" type="xs:string" />
            <xs:element minOccurs="0" name="Model" type="xs:string" />
            <xs:element minOccurs="0" name="ModelYear" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="MPN" type="xs:string" />
            <xs:element minOccurs="0" name="NumberOfDiscs" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="NumberOfIssues" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="NumberOfItems" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="NumberOfPages" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="NumberOfTracks" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="OperatingSystem" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="PackageDimensions">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="Height" type="tns:DecimalWithUnits" />
                  <xs:element minOccurs="0" name="Length" type="tns:DecimalWithUnits" />
                  <xs:element minOccurs="0" name="Weight" type="tns:DecimalWithUnits" />
                  <xs:element minOccurs="0" name="Width" type="tns:DecimalWithUnits" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="PackageQuantity" type="xs:nonNegativeInteger" />
            <xs:element minOccurs="0" name="PartNumber" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="PictureFormat" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="unbounded" name="Platform" type="xs:string" />
            <xs:element minOccurs="0" name="ProductGroup" type="xs:string" />
            <xs:element minOccurs="0" name="ProductTypeName" type="xs:string" />
            <xs:element minOccurs="0" name="ProductTypeSubcategory" type="xs:string" />
            <xs:element minOccurs="0" name="PublicationDate" type="xs:string" />
            <xs:element minOccurs="0" name="Publisher" type="xs:string" />
            <xs:element minOccurs="0" name="RegionCode" type="xs:string" />
            <xs:element minOccurs="0" name="ReleaseDate" type="xs:string" />
            <xs:element minOccurs="0" name="RunningTime" type="tns:DecimalWithUnits" />
            <xs:element minOccurs="0" name="SeikodoProductCode" type="xs:string" />
            <xs:element minOccurs="0" name="Size" type="xs:string" />
            <xs:element minOccurs="0" name="SKU" type="xs:string" />
            <xs:element minOccurs="0" name="Studio" type="xs:string" />
            <xs:element minOccurs="0" name="SubscriptionLength" type="tns:NonNegativeIntegerWithUnits" />
            <xs:element minOccurs="0" name="Title" type="xs:string" />
            <xs:element minOccurs="0" name="TrackSequence" type="xs:string" />
            <xs:element minOccurs="0" name="TradeInValue" type="tns:Price" />
            <xs:element minOccurs="0" name="UPC" type="xs:string" />
            <xs:element minOccurs="0" name="UPCList">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="UPCListElement" type="xs:string" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="Warranty" type="xs:string" />
            <xs:element minOccurs="0" name="WEEETaxValue" type="tns:Price" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:complexType name="NonNegativeIntegerWithUnits">
        <xs:simpleContent>
          <xs:extension base="xs:nonNegativeInteger">
            <xs:attribute name="Units" type="xs:string" use="required" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="DecimalWithUnits">
        <xs:simpleContent>
          <xs:extension base="xs:decimal">
            <xs:attribute name="Units" type="xs:string" use="required" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:complexType name="StringWithUnits">
        <xs:simpleContent>
          <xs:extension base="xs:string">
            <xs:attribute name="Units" type="xs:string" use="required" />
          </xs:extension>
        </xs:simpleContent>
      </xs:complexType>
      <xs:simpleType name="positiveIntegerOrAll">
        <xs:union>
          <xs:simpleType>
            <xs:restriction base="xs:positiveInteger" />
          </xs:simpleType>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="All" />
            </xs:restriction>
          </xs:simpleType>
        </xs:union>
      </xs:simpleType>
    </xs:schema>
  </types>
  <message name="ItemSearchRequestMsg">
    <part name="body" element="tns:ItemSearch" />
  </message>
  <message name="ItemSearchResponseMsg">
    <part name="body" element="tns:ItemSearchResponse" />
  </message>
  <message name="ItemLookupRequestMsg">
    <part name="body" element="tns:ItemLookup" />
  </message>
  <message name="ItemLookupResponseMsg">
    <part name="body" element="tns:ItemLookupResponse" />
  </message>
  <message name="BrowseNodeLookupRequestMsg">
    <part name="body" element="tns:BrowseNodeLookup" />
  </message>
  <message name="BrowseNodeLookupResponseMsg">
    <part name="body" element="tns:BrowseNodeLookupResponse" />
  </message>
  <message name="SimilarityLookupRequestMsg">
    <part name="body" element="tns:SimilarityLookup" />
  </message>
  <message name="SimilarityLookupResponseMsg">
    <part name="body" element="tns:SimilarityLookupResponse" />
  </message>
  <message name="CartGetRequestMsg">
    <part name="body" element="tns:CartGet" />
  </message>
  <message name="CartGetResponseMsg">
    <part name="body" element="tns:CartGetResponse" />
  </message>
  <message name="CartAddRequestMsg">
    <part name="body" element="tns:CartAdd" />
  </message>
  <message name="CartAddResponseMsg">
    <part name="body" element="tns:CartAddResponse" />
  </message>
  <message name="CartCreateRequestMsg">
    <part name="body" element="tns:CartCreate" />
  </message>
  <message name="CartCreateResponseMsg">
    <part name="body" element="tns:CartCreateResponse" />
  </message>
  <message name="CartModifyRequestMsg">
    <part name="body" element="tns:CartModify" />
  </message>
  <message name="CartModifyResponseMsg">
    <part name="body" element="tns:CartModifyResponse" />
  </message>
  <message name="CartClearRequestMsg">
    <part name="body" element="tns:CartClear" />
  </message>
  <message name="CartClearResponseMsg">
    <part name="body" element="tns:CartClearResponse" />
  </message>
  <portType name="AWSECommerceServicePortType">
    <operation name="ItemSearch">
      <input message="tns:ItemSearchRequestMsg" />
      <output message="tns:ItemSearchResponseMsg" />
    </operation>
    <operation name="ItemLookup">
      <input message="tns:ItemLookupRequestMsg" />
      <output message="tns:ItemLookupResponseMsg" />
    </operation>
    <operation name="BrowseNodeLookup">
      <input message="tns:BrowseNodeLookupRequestMsg" />
      <output message="tns:BrowseNodeLookupResponseMsg" />
    </operation>
    <operation name="SimilarityLookup">
      <input message="tns:SimilarityLookupRequestMsg" />
      <output message="tns:SimilarityLookupResponseMsg" />
    </operation>
    <operation name="CartGet">
      <input message="tns:CartGetRequestMsg" />
      <output message="tns:CartGetResponseMsg" />
    </operation>
    <operation name="CartAdd">
      <input message="tns:CartAddRequestMsg" />
      <output message="tns:CartAddResponseMsg" />
    </operation>
    <operation name="CartCreate">
      <input message="tns:CartCreateRequestMsg" />
      <output message="tns:CartCreateResponseMsg" />
    </operation>
    <operation name="CartModify">
      <input message="tns:CartModifyRequestMsg" />
      <output message="tns:CartModifyResponseMsg" />
    </operation>
    <operation name="CartClear">
      <input message="tns:CartClearRequestMsg" />
      <output message="tns:CartClearResponseMsg" />
    </operation>
  </portType>
  <binding name="AWSECommerceServiceBinding" type="tns:AWSECommerceServicePortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="ItemSearch">
      <soap:operation soapAction="http://soap.amazon.com/ItemSearch" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ItemLookup">
      <soap:operation soapAction="http://soap.amazon.com/ItemLookup" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="BrowseNodeLookup">
      <soap:operation soapAction="http://soap.amazon.com/BrowseNodeLookup" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="SimilarityLookup">
      <soap:operation soapAction="http://soap.amazon.com/SimilarityLookup" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CartGet">
      <soap:operation soapAction="http://soap.amazon.com/CartGet" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CartCreate">
      <soap:operation soapAction="http://soap.amazon.com/CartCreate" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CartAdd">
      <soap:operation soapAction="http://soap.amazon.com/CartAdd" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CartModify">
      <soap:operation soapAction="http://soap.amazon.com/CartModify" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="CartClear">
      <soap:operation soapAction="http://soap.amazon.com/CartClear" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="AWSECommerceService">
    <port name="AWSECommerceServicePort" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortCA" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.ca/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortCN" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.cn/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortDE" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.de/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortES" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.es/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortFR" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.fr/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortIT" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.it/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortJP" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.co.jp/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortUK" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.co.uk/onca/soap?Service=AWSECommerceService" />
    </port>
    <port name="AWSECommerceServicePortUS" binding="tns:AWSECommerceServiceBinding">
      <soap:address location="https://webservices.amazon.com/onca/soap?Service=AWSECommerceService" />
    </port>
  </service>
</definitions>